@model AddEditVM
@{
    ViewData["Title"] = "Add";
}

<h1>@(Model==null ? "Adicionar" : "Editar") Produto</h1>

@*<div>
    @Html.ValidationSummary(false);
</div>*@

<form method="post">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="Nome">Nome</label>
            <input type="text" value="@Model?.Nome" class="form-control" name="Nome" autofocus>
            @*@Html.ValidationMessageFor(m=>m.Nome)*@
            <span asp-validation-for="Nome" style="color:red"></span>
            
        </div>

        <div class="form-group col-md-4">
            <label for="Categoria">Categoria</label>
            <select name="CategoriaId" class="form-control">
                <option selected value="">Escolha...</option>
                @foreach (var categoria in ViewBag.Categoria)
                {
                    if (Model != null && Model.CategoriaId == categoria.Id)
                    {
                        <option selected value="@categoria.Id">@categoria.Nome</option>
                    }
                    else
                    {
                        <option value="@categoria.Id">@categoria.Nome</option>
                    }
                }
            </select>
           @* @Html.ValidationMessageFor(m => m.CategoriaId)*@
            <span asp-validation-for="CategoriaId" style="color:red"></span>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ValorUnitario">Valor Unitario</label>
            <input type="text" value="@Model?.ValorUnitario" class="form-control" name="ValorUnitario">
            @*@Html.ValidationMessageFor(m => m.ValorUnitario)*@
            <span asp-validation-for="ValorUnitario" style="color:red"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("")">content</a>
</form>